<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Sign in</h1>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Sign in to create and download temporary Lemur Certificates</h3>
        </div>
        <div class="panel-body">
          <p>Select the service you would like to sign in with.</p>
          <ul>
            <li>
              <a href="/auth/login">Okta</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
